/build
/javadoc
/out
/.idea
/junit_report
/coverage
/dist
/tmp
token
/packaging_jar
/util

/lib

!/lib/dss*.jar
!/lib/digidoc*.jar
!/lib/testcerts.jar
!/lib/jaco*.jar

digidoc4j.iml
*.log
password.properties
copy-dss-jars.sh
